@import '../utils/Utils.css';

h1.type-title {
    width: var(--h1-type-title-width);
    margin: 0 auto;
    text-align: center;
    user-select: none;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: var(--padding-xs) 0;
}
